pkgbase = gnuradio
	pkgdesc = General purpose DSP and SDR toolkit with drivers for usrp and fcd.
	pkgver = 3.10.10.0
	pkgrel = 5
	url = https://gnuradio.org
	arch = x86_64
	license = GPL3
	checkdepends = python-jsonschema
	checkdepends = python-setuptools
	checkdepends = xorg-server-xvfb
	makedepends = alsa-lib
	makedepends = boost
	makedepends = cppzmq
	makedepends = cmake
	makedepends = fftw
	makedepends = fmt
	makedepends = gtk3
	makedepends = jack
	makedepends = libiio
	makedepends = libsndfile
	makedepends = portaudio
	makedepends = pybind11
	makedepends = python-cairo
	makedepends = python-gobject
	makedepends = python-lxml
	makedepends = python-packaging
	makedepends = python-pyqt5
	makedepends = python-pyqtgraph
	makedepends = python-pytest
	makedepends = qt5-base
	makedepends = qwt
	makedepends = zeromq
	depends = codec2
	depends = gcc-libs
	depends = glibc
	depends = gmp
	depends = gsl
	depends = libad9361
	depends = libuhd
	depends = libunwind
	depends = libvolk
	depends = python-click
	depends = python-click-plugins
	depends = python-mako
	depends = python-matplotlib
	depends = python-numpy
	depends = python-pyyaml
	depends = python-pyzmq
	depends = python-scipy
	depends = python-thrift
	depends = sdl12-compat
	depends = soapysdr
	depends = spdlog
	depends = thrift
	source = gnuradio-3.10.10.0.tar.gz::https://github.com/gnuradio/gnuradio/archive/v3.10.10.0/gnuradio-v3.10.10.0.tar.gz
	source = https://github.com/gnuradio/gnuradio/releases/download/v3.10.10.0/gnuradio-3.10.10.0.tar.gz.asc
	source = https://github.com/gnuradio/gnuradio/commit/7c87800f.patch
	source = numpy-2.0.patch
	source = 21-fcd.rules
	validpgpkeys = B90DDFAC56989BF62262EB812987C77CBB8ED9B2
	validpgpkeys = D74F9F146E7F755783583158B343B2BA293E5174
	validpgpkeys = 723EC3A2B90533C6B93DFBC8ED797743F7951435
	sha512sums = 31943dcad7a65c5c27f945192381af251a7253303c94c5e1d688ce3dc4d1f0bab99fb9e00db3f14cd50fe55cf65e363f4b161286511b32cd81c240dcd7b43feb
	sha512sums = SKIP
	sha512sums = 90229a91eda5a3bf2bd11b40c1311af27ab659eeed85c8a77fa15abc5a3928bdea23b77803981a51deeecab670ee52e68b7ff5ffb3c026d93eec641819af5157
	sha512sums = cd738252b93a3df7fa0826b0a9b237c774a9bcfeb4c0f1dc06f6e776e3011d821d4cce84849dcdfdf1dd238654b596127b0f300ba0b495a529c7304c58dae7a2
	sha512sums = 6f02dc8e20a7a1cd11099c851a7c8427fcd21e9652e6cddd0a72ca747b0e93cd4fd1b7b7b7e426b6231348bcc34fb2417716a2f03c92ec141889edc65031c3a0
	b2sums = 820fe32e19d137726cc06aa9bc8fd92fe28fb5c0f398cacb5fe01eac247b31044738d84b6e640c0acf3c7903980c9a8b5fe92efee5926c4d1ecaaba8f6f46e04
	b2sums = SKIP
	b2sums = 68296637568d3d3fe7fb96c8dc5d4843279ffc4f9553956d31139f88030eb240e50e6678012bad48017cc428aa1c9dccf914ca9c66cba901015ab6fcb9db712d
	b2sums = 40e6abaffdcc2b823bf138b0a7bf11cabe938583e36369cc30199b897688f51ba3edd6ba6d74f0b266f6dd5b722e18baf0cb83388957cdc11dd2184d8b80768d
	b2sums = 83657a141a7a4fc52ae62e19b480fd7b7e651efffc2186d3eb96e8612beffbbe71b434a2323ae37c74465ff6a959a4ca1f9c9db5ed02ab641f1784e704ab5f4d

pkgname = gnuradio
	depends = codec2
	depends = gcc-libs
	depends = glibc
	depends = gmp
	depends = gsl
	depends = libad9361
	depends = libuhd
	depends = libunwind
	depends = libvolk
	depends = python-click
	depends = python-click-plugins
	depends = python-mako
	depends = python-matplotlib
	depends = python-numpy
	depends = python-pyyaml
	depends = python-pyzmq
	depends = python-scipy
	depends = python-thrift
	depends = sdl12-compat
	depends = soapysdr
	depends = spdlog
	depends = thrift
	depends = alsa-lib
	depends = libasound.so
	depends = boost-libs
	depends = libboost_program_options.so
	depends = libboost_thread.so
	depends = fftw
	depends = libfftw3f.so
	depends = libfftw3f_threads.so
	depends = fmt
	depends = libfmt.so
	depends = jack
	depends = libjack.so
	depends = libiio
	depends = libiio.so
	depends = libsndfile
	depends = libsndfile.so
	depends = portaudio
	depends = libportaudio.so
	depends = spdlog
	depends = libspdlog.so
	depends = zeromq
	depends = libzmq.so
	optdepends = gnuradio-companion: for GUI frontend
	optdepends = python-setuptools: for gr_modtool
	provides = libgnuradio-analog.so
	provides = libgnuradio-audio.so
	provides = libgnuradio-blocks.so
	provides = libgnuradio-channels.so
	provides = libgnuradio-digital.so
	provides = libgnuradio-dtv.so
	provides = libgnuradio-fec.so
	provides = libgnuradio-fft.so
	provides = libgnuradio-filter.so
	provides = libgnuradio-iio.so
	provides = libgnuradio-network.so
	provides = libgnuradio-pmt.so
	provides = libgnuradio-qtgui.so
	provides = libgnuradio-runtime.so
	provides = libgnuradio-soapy.so
	provides = libgnuradio-trellis.so
	provides = libgnuradio-uhd.so
	provides = libgnuradio-video-sdl.so
	provides = libgnuradio-vocoder.so
	provides = libgnuradio-wavelet.so
	provides = libgnuradio-zeromq.so
	backup = etc/gnuradio/conf.d/00-grc-docs.conf
	backup = etc/gnuradio/conf.d/gnuradio-runtime.conf
	backup = etc/gnuradio/conf.d/gr-audio.conf
	backup = etc/gnuradio/conf.d/gr-audio-alsa.conf
	backup = etc/gnuradio/conf.d/gr-audio-jack.conf
	backup = etc/gnuradio/conf.d/gr-audio-oss.conf
	backup = etc/gnuradio/conf.d/gr-audio-portaudio.conf
	backup = etc/gnuradio/conf.d/gr-qtgui.conf
	backup = etc/gnuradio/conf.d/gr_log_default.conf
	backup = etc/gnuradio/conf.d/grc.conf
	backup = etc/gnuradio/conf.d/modtool.conf

pkgname = gnuradio-companion
	pkgdesc = GUI frontend for gnuradio and SDR.
	depends = gnuradio
	depends = python-cairo
	depends = python-gobject
	depends = python-lxml
	depends = python-opengl
	depends = python-pyqt5
	depends = python-pyqtgraph
	depends = qt5-base
	depends = qwt
