pkgbase = gnuradio
	pkgdesc = Signal processing runtime and signal processing software development toolkit
	pkgver = 3.10.12.0
	pkgrel = 12
	url = https://gnuradio.org
	arch = x86_64
	license = GPL-3.0-or-later
	checkdepends = python-pytest
	checkdepends = python-setuptools
	checkdepends = xorg-server-xvfb
	makedepends = alsa-lib
	makedepends = boost
	makedepends = boost-libs
	makedepends = cmake
	makedepends = codec2
	makedepends = cppzmq
	makedepends = doxygen
	makedepends = fftw
	makedepends = fmt
	makedepends = gcc-libs
	makedepends = glibc
	makedepends = gmp
	makedepends = gsl
	makedepends = gtk3
	makedepends = jack
	makedepends = libad9361
	makedepends = libiio
	makedepends = libsndfile
	makedepends = libuhd
	makedepends = libunwind
	makedepends = libvolk
	makedepends = mathjax2
	makedepends = portaudio
	makedepends = pybind11
	makedepends = python-cairo
	makedepends = python-click
	makedepends = python-gobject
	makedepends = python-jsonschema
	makedepends = python-lxml
	makedepends = python-mako
	makedepends = python-matplotlib
	makedepends = python-numpy
	makedepends = python-packaging
	makedepends = python-pygccxml
	makedepends = python-pyqt5
	makedepends = python-pyqtgraph
	makedepends = python-pyyaml
	makedepends = python-pyzmq
	makedepends = python-scipy
	makedepends = python-thrift
	makedepends = qt5-base
	makedepends = qwt
	makedepends = sdl12-compat
	makedepends = soapysdr
	makedepends = spdlog
	makedepends = thrift
	makedepends = xdg-utils
	makedepends = zeromq
	source = https://github.com/gnuradio/gnuradio/archive/v3.10.12.0/gnuradio-3.10.12.0.tar.gz
	source = https://github.com/gnuradio/gnuradio/releases/download/v3.10.12.0/gnuradio-3.10.12.0.tar.gz.asc
	source = https://github.com/gnuradio/gnuradio/commit/a166bdf73d3e3bfd362c239bbd58852faaad39c4.patch
	source = 21-fcd.rules
	validpgpkeys = B90DDFAC56989BF62262EB812987C77CBB8ED9B2
	validpgpkeys = D74F9F146E7F755783583158B343B2BA293E5174
	validpgpkeys = 723EC3A2B90533C6B93DFBC8ED797743F7951435
	sha256sums = fe78ad9f74c8ebf93d5c8ad6fa2c13236af330f3c67149d91a0647b3dc6f3958
	sha256sums = SKIP
	sha256sums = fa15d522c024d5a8f97d7e5680b07b3b3a1919cd98914b77c7773606853bf468
	sha256sums = 928f4e4b5d8d9fab634e119b83ba9db9fb3501b4d5527cceb7bfa595818be81a

pkgname = gnuradio
	depends = alsa-lib
	depends = boost-libs
	depends = codec2
	depends = fftw
	depends = fmt
	depends = gcc-libs
	depends = glibc
	depends = gmp
	depends = gsl
	depends = jack
	depends = libad9361
	depends = libiio
	depends = libsndfile
	depends = libuhd
	depends = libunwind
	depends = libvolk
	depends = portaudio
	depends = python
	depends = python-matplotlib
	depends = python-numpy
	depends = qt5-base
	depends = qwt
	depends = sdl12-compat
	depends = soapysdr
	depends = spdlog
	depends = thrift
	depends = zeromq
	optdepends = python-setuptools: for gr_modtool
	provides = libgnuradio-analog.so
	provides = libgnuradio-audio.so
	provides = libgnuradio-blocks.so
	provides = libgnuradio-channels.so
	provides = libgnuradio-digital.so
	provides = libgnuradio-dtv.so
	provides = libgnuradio-fec.so
	provides = libgnuradio-fft.so
	provides = libgnuradio-filter.so
	provides = libgnuradio-iio.so
	provides = libgnuradio-network.so
	provides = libgnuradio-pmt.so
	provides = libgnuradio-qtgui.so
	provides = libgnuradio-runtime.so
	provides = libgnuradio-soapy.so
	provides = libgnuradio-trellis.so
	provides = libgnuradio-uhd.so
	provides = libgnuradio-video-sdl.so
	provides = libgnuradio-vocoder.so
	provides = libgnuradio-wavelet.so
	provides = libgnuradio-zeromq.so
	backup = etc/gnuradio/conf.d/gnuradio-runtime.conf
	backup = etc/gnuradio/conf.d/gr-audio-alsa.conf
	backup = etc/gnuradio/conf.d/gr-audio-jack.conf
	backup = etc/gnuradio/conf.d/gr-audio-oss.conf
	backup = etc/gnuradio/conf.d/gr-audio-portaudio.conf
	backup = etc/gnuradio/conf.d/gr-audio.conf
	backup = etc/gnuradio/conf.d/gr-qtgui.conf
	backup = etc/gnuradio/conf.d/modtool.conf

pkgname = gnuradio-companion
	pkgdesc = Signal processing runtime and signal processing software development toolkit (GUI)
	depends = glib2
	depends = gobject-introspection-runtime
	depends = gtk3
	depends = pango
	depends = python
	depends = python-cairo
	depends = python-gnuradio
	depends = python-gobject
	depends = python-lxml
	depends = python-mako
	depends = python-numpy
	depends = python-qtpy
	depends = python-yaml
	backup = etc/gnuradio/conf.d/00-grc-docs.conf
	backup = etc/gnuradio/conf.d/grc.conf

pkgname = gnuradio-docs
	pkgdesc = Signal processing runtime and signal processing software development toolkit (documentation)

pkgname = gnuradio-examples
	pkgdesc = Signal processing runtime and signal processing software development toolkit (examples)
	depends = boost-libs
	depends = fmt
	depends = gcc-libs
	depends = glibc
	depends = gnuradio
	depends = libuhd
	depends = python
	depends = python-gnuradio
	depends = python-matplotlib
	depends = python-numpy
	depends = python-pyqt5
	depends = python-scipy
	depends = qt5-base
	depends = spdlog

pkgname = gnuradio-utils
	pkgdesc = Signal processing runtime and signal processing software development toolkit (utilities)
	depends = python
	depends = python-gnuradio
	depends = python-matplotlib
	depends = python-numpy
	depends = python-pyqt5
	depends = python-thrift

pkgname = python-gnuradio
	pkgdesc = Signal processing runtime and signal processing software development toolkit (Python module)
	depends = fmt
	depends = gcc-libs
	depends = glibc
	depends = gmp
	depends = gnuradio
	depends = libuhd
	depends = libvolk
	depends = python
	depends = python-click
	depends = python-mako
	depends = python-matplotlib
	depends = python-numpy
	depends = python-pygccxml
	depends = python-pyqt5
	depends = python-pyqtgraph
	depends = python-pyzmq
	depends = python-scipy
	depends = python-setuptools
	depends = python-thrift
	depends = python-yaml
	depends = qt5-base
	depends = soapysdr
	depends = spdlog
